/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  @include mat.system-classes();

  h1 {
    font: var(--mat-sys-headline-large);
  }

  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}
